.nav {
  position: absolute;
  top: 0;
  padding-bottom: 32px;

  &__background {
    @media (min-width: $screen-md) {
      position: absolute;
      min-width: 769px;
      min-height: 1024px;
      opacity: 0.96;
      background-color: #FFFFFF;
      z-index: 9;
    }

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__content {
    position: absolute;
    z-index: 10;
    min-width: 320px;
    background-color: #FFFFFF;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2),
    -2px 0px 4px rgba(69, 79, 126, 0.02);

    @media (min-width: $screen-xl) {
      box-shadow: 0 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 18px;
    padding-left: 24px;

    @media (min-width: $screen-md) {
      min-height: 684px;
    }
  }

  &__item {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__link {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    &--active {
      color: #7E7E82;

      &::before {
        position: absolute;
        top: 12px;
        left: -24px;
        content: url("../img/icons/highlight_w4_h32.png");
      }
    }
  }
}
