.feedback-modal {
  position: absolute;
  top: 0;

  &__background {
    @media (min-width: $screen-md) {
      position: absolute;
      min-width: 769px;
      min-height: 1024px;
      opacity: 0.96;
      background-color: $color-back1;
      z-index: 20;
    }

    @media (min-width: $screen-xl) {
      min-width: 1441px;
    }
  }

  &__content {
    position: absolute;
    z-index: 21;
    box-sizing: border-box;
    padding: 0 16px;
    width: 320px;
    min-height: 676px;
    display: flex;
    flex-direction: column;
    background-color: $color-back1;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2),
    -2px 0px 4px rgba(69, 79, 126, 0.02);

    @media (min-width: $screen-md) {
      position: fixed;
      right: 0;
      padding: 0 32px;
      width: 440px;
      box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);;
    }
  }

  &__close-button {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    align-self: flex-start;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    @media (min-width: $screen-md) {
      position: absolute;
      left: -70px;
      padding-top: 32px;

    }

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }
  }

  &__title {
    position: relative;
    margin: 0;
    margin-top: 64px;
    font-family: "TT Lakes Bold", "Arial", sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: $color-text1;

    @media (min-width: $screen-md) {
      margin-top: 40px;
    }

    &::before {
      content: url("../img/icons/highlight.png");
      position: absolute;
      top: -10px;
      left: -16px;

      @media (min-width: $screen-md) {
        top: -7px;
        left: -32px;
      }
    }
  }

  &__input-field {
    box-sizing: border-box;
    height: 48px;
    padding: 12px 16px;
    margin-top: 16px;
    font-family: "TT Lakes Medium", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $color-text3;
    border: 1px solid $color-back3;
    border-radius: 8px;
  }

  &__textarea-field {
    box-sizing: border-box;
    padding: 12px 16px;
    margin-top: 16px;
    font-family: "TT Lakes Medium", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $color-text3;
    border: 1px solid $color-back3;
    border-radius: 8px;
  }

  &__text {
    font-family: "TT Lakes Medium", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: $color-text2;
  }

  &__link {
    text-decoration: none;
    color: $color-link1;
  }

  &__send-button {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    align-self: flex-end;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }
  }
}
