@import "brands-slider";

.brands {
  background-color: $color-back2;

  @media (min-width: $screen-md) {
    padding-bottom: 34px;
  }

  &__shadow {
    width: 320px;
    height: 1px;
  }

  &__title {
    margin: 0;
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'TT Lakes Regular', "Arial", sans-serif;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: $color-text2;
    background-image: linear-gradient(270deg, $color-back2 0%, $color-back1 98.61%);

    @media (min-width: $screen-md) {
      padding: 16px 24px;
      background-image: linear-gradient(90deg, $color-back2 1.39%, $color-back1 100%);
    }

    @media (min-width: $screen-xl) {
      padding: 16px 32px;
      background-image: linear-gradient(270deg, $color-back2 0%, $color-back1 98.61%);
    }
  }

  &__list {
    box-sizing: border-box;
    max-width: 320px;
    margin: 0;
    padding: 16px 0 66px 16px;
    display: flex;
    list-style: none;
    flex-wrap: nowrap;

    @media (min-width: $screen-md) {
      max-width: 768px;
      padding: 24px 0 8px 24px;
      flex-wrap: wrap;
    }

    @media (min-width: $screen-xl) {
      max-width: 1120px;
      padding: 24px 0 8px 32px;
      flex-wrap: wrap;
    }
  }

  &__item {
    &:nth-child(n + 7) {
      @media (min-width: $screen-md) {
        display: none;
      }

      @media (min-width: $screen-xl) {
        display: block;
      }
    }

    &:nth-child(n + 9) {
      @media (min-width: $screen-xl) {
        display: none;
      }
    }

    &.visible {
      display: block;
    }

    &.hide {
      display: none;
    }
  }


  &__link {
    box-sizing: border-box;
    padding: 16px;
    min-width: 240px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-back1;
    border: 1px solid $color-back3;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;

    @media (min-width: $screen-md) {
      margin-right: 24px;
      margin-bottom: 16px;
      min-width: 224px;
    }

    @media (min-width: $screen-xl) {
      margin-right: 32px;
      margin-bottom: 16px;
      min-width: 240px;
    }

    &:hover {
      opacity: 0.9;
      transform: scale(1.1);
    }

    &::after {
      content: url(../img/icons/go.svg);
      max-height: 40px;
    }
  }

  &__show-more-button {
    @media (min-width: $screen-md) {
      position: relative;
      padding: 0;
      margin-left: 57px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-family: 'TT Lakes Medium', "Arial", sans-serif;
      font-style: normal;
      color: $color-text1;
      background-color: rgba(0, 0, 0, 0);
      transition: all 0.2s ease-in-out;
    }

    @media (min-width: $screen-xl) {
      margin-left: 63px;
    }

    &:hover {
      opacity: 0.9;
      transform: scale(1.1);
    }

    &::before {
      content: url("../img/icons/expand.svg");
      position: absolute;
      left: -32px;
    }
  }

  &__hide-button {
    @media (min-width: $screen-md) {
      position: relative;
      padding: 0;
      margin-left: 57px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-family: 'TT Lakes Medium', "Arial", sans-serif;
      font-style: normal;
      color: $color-text1;
      background-color: rgba(0, 0, 0, 0);
      transition: all 0.2s ease-in-out;
    }

    @media (min-width: $screen-xl) {
      margin-left: 63px;
    }

    &:hover {
      opacity: 0.9;
      transform: scale(1.1);
    }

    &::before {
      content: url("../img/icons/expand-top.svg");
      position: absolute;
      left: -32px;
    }
  }

  .hide {
    display: none !important;
  }
}
