@font-face {
  font-family: "TT Lakes Regular";
  //font-weight: regular;
  font-style: normal;
  src: local("TT Lakes"),
  url("../fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
  font-family: "TT Lakes Medium";
  //font-weight: medium;
  font-style: normal;
  src: local("TT Lakes"),
  url("../fonts/TTLakes-Medium.woff") format("woff");
}

@font-face {
  font-family: "TT Lakes Bold";
  font-weight: bold;
  font-style: normal;
  src: local("TT Lakes"),
  url("../fonts/TTLakes-Bold.woff") format("woff");
}
