//$bgColor: #24292e;
//$text: #fff;
//
//@font-face {
//  font-family: 'Comic';
//  src: url('../fonts/comic.ttf') format('truetype');
//  font-weight: normal;
//  font-style: italic;
//}
//
//body {
//  padding: 1rem;
//  margin: 0;
//  font-family: Comic, sans-serif;
//  background-color: $bgColor;
//  color: $text;
//}


@font-face {
  font-family: "TT Lakes Regular";
  //font-weight: regular;
  font-style: normal;
  src: local("TT Lakes"),
  url("../fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
  font-family: "TT Lakes Medium";
  //font-weight: medium;
  font-style: normal;
  src: local("TT Lakes"),
  url("../fonts/TTLakes-Medium.woff") format("woff");
}

@font-face {
  font-family: "TT Lakes Bold";
  font-weight: bold;
  font-style: normal;
  src: local("TT Lakes"),
  url("../fonts/TTLakes-Bold.woff") format("woff");
}

.sm:not(.xs),
.lg:not(.xs) {
  display: none;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  font-family: 'TT Lakes Regular', "Arial", sans-serif;
}

/* ----- ХЭДЕР 320px ----- */

.page-header {
  width: 320px;
  height: 88px;
  position: relative;

}

.upper-menu {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  height: 88px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.upper-menu__logo {
  width: 96.55px;
  height: 50.81px;
  margin-right: 16.73px;
  margin-left: 16.73px;
  position: relative;
  top: -1px;
  left: -1px;
}

.upper-menu__divider {
  width: 2px;
  height: 32px;
  margin-right: 20px;
}

.upper-menu__icon {
  margin-right: 16px;
  width: 40px;
  height: 40px;

}

.upper-menu__icon--first {
  width: 40px;
  height: 40px;
  margin-right: 0;
  margin-left: 16px;
  order: -1;
}

.upper-menu__shadow {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ------ Основное 320px ------  */

.main {
  position: relative;
  background-color: #F8F8F8;
  width: 320px;
  height: 509px;
  display: flex;
  flex-direction: column;
}

.main__title-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.main__title {
  margin: 0;
  padding: 0;
  width: 288px;
  height: 40px;
  font-size: 28px;
  font-family: "TT Lakes Bold", "Arial", sans-serif;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.main__title-highlight {
  position: absolute;
  left: 0;
  top: 0;
}

.main__slide-menu {
  min-height: 40px;
  margin: 0;
  margin-left: 16px;
  margin-bottom: 24px;
  padding: 0;
  display: flex;
  overflow: scroll;
  list-style-type: none;
  align-items: center;
}

.main__slide-item {
  margin-right: 19.56px;
  white-space: nowrap;
}

.main__slide-item-text {
  display: block;
  height: 24px;
  font-size: 16px;
  font-family: "TT Lakes Medium", "Arial", sans-serif;
  text-decoration: none;
  letter-spacing: -0.2px;
  color: #7E7E82;
}

.main__slide-item--active {
  box-sizing: border-box;
  height: 40px;
  padding: 6px 9.3px 6px 14.54px;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  vertical-align: top;
}

.about-us__text {
  margin: 0 16px 16px 16px;
  width: 288px;
  font-size: 14px;
  line-height: 18px;
  font-family: "TT Lakes Regular", "Arial", sans-serif;
  letter-spacing: 0.1px;
  color: #1B1C21;
}

.about-us__read-more {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 48px;
  font-size: 16px;
  font-family: "TT Lakes Medium", "Arial", sans-serif;
  text-decoration: none;
  letter-spacing: -0.2px;
  vertical-align: top;
  color: #1B1C21;
  cursor: pointer;
}

.about-us__read-more-icon {
  position: absolute;
  top: 258px;
  left: 16px;
}

.about-us__read-more-text {
  line-height: 24px;
}

.about-us__foto {
  width: 320px;
  height: 176px;
  background-image: url("../img/fotologo/fotologoxs.png");
}


@media (min-width: 768px) {
  .sm:not(.xs) {
    display: block;
  }

  .xs:not(.sm) {
    display: none;
  }

  body {
    width: 768px;
  }

  /* ----- ХЭДЕР 768px ----- */

  .page-header {
    width: 768px;
  }

  .upper-menu__logo {
    margin-right: auto;
    margin-left: 0.73px;
  }


  .upper-menu__divider {
    margin-right: 20px;
    margin-left: 4px;
  }

  .upper-menu__icon--first {
    margin-left: 24px;
    margin-right : 16px;
  }

  .upper-menu__icon:last-child {
    margin-right : 24px;
  }

  .upper-menu__shadow {
    width: 768px;
  }

  /* ------ Основное 768px ------  */

  .main {
    width: 769px;
    height: 416px;
  }

  .main__title-container {
    justify-content: flex-start;
  }

  .main__title {
    margin-left: 24px;
    width: auto;
  }

  .main-item {
    margin-bottom: 32px;
  }

  .main__slide-menu {
    margin-left: 24px;
  }

  .main__slide-item {
    margin-right: 25px;
  }

  .about-us {
    display: flex;
  }

  .about-us__text {
    margin-left: 24px;
    margin-right: 48px;
    margin-bottom: 10px;
    width: 312px;
    line-height: 20px;
    letter-spacing: 0.07px;
  }

  .about-us__text:not(.sm) {
    margin-bottom: 20px;
  }


  .about-us__read-more {
    margin-left: 57px;
    line-height: 24px;
  }

  .about-us__read-more-icon {
    top: 338px;
    left: 25px;
  }

  .about-us__foto {
    width: 360px;
    height: 208px;
    background-image: url("../img/fotologo/fotologosm.png");
    border-radius: 6px;
  }
}

@media (min-width: 1120px) {
  .xs:not(.lg),
  .sm:not(.lg) {
    display: none;
  }

  .lg:not(.xs) {
    display: block;
  }

  body {
    width: 1120px;
  }

  /* ----- ХЭДЕР 1120px ----- */

  .upper-menu {
    display: flex !important;
    height: 40px;
    background-color: transparent;
  }

  .upper-menu__link {
    display: flex;
    align-items: center;
    height: 40px;
    text-decoration: none;
  }

  .upper-menu__text {
    padding-right: 9px;
    font-size: 16px;
    line-height: 24px;
    font-family: "TT Lakes Medium", "Arial", sans-serif;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  .upper-menu__icon {
    margin-right : 32px;
    width: auto;
  }

  .upper-menu__icon:last-child {
    margin-right : 32px;
  }

  /* ------ Основное 1120px ------  */

  .main {
    width: 1120px;
    height: 535px;
  }

  .main__title-container {
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 8.37px;
  }

  .main__title {
    margin-left: 32px;
    width: auto;
  }

  .main__title-highlight {
    width: 3px;
  }

  .main__slide-menu {
    overflow: visible ;
    flex-wrap: wrap;
    margin-left: 56px;
    margin-bottom: 5px;
  }

  .main__slide-item {
    margin-bottom: 15px;
  }

  .about-us__text {
    margin-left: 34px;
    margin-right: 36px;
    margin-bottom: 0;
    width: 490px;
    line-height: 20px;
    letter-spacing: 0.07px;
  }

  .about-us__text.lg:not(.sm),
  .about-us__text.lg:not(.xs) {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .about-us__read-more {
    margin-left: 64px;
    margin-top: 13px;
    line-height: 24px;
  }

  .about-us__read-more-icon {
    top: 362px;
    left: 32px;
  }

  .about-us__foto {
    position: relative;
    top: -10px;
    width: 531.35px;
    height: 307px;
    background-image: url("../img/fotologo/fotologolg.png");
    border-radius: 6px;
  }
}
