.footer {
  padding: 16px 16px 3px 16px;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;

  @media (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
  }

  @media (min-width: $screen-xl) {
    margin-left: 320px;
  }

  &__item {
    margin: 0 0 16px 0;
    font-family: 'TT Lakes Medium', Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72;

    @media (min-width: $screen-md) {
      flex-basis: 30%;
    }

    &:first-child {
      @media (min-width: $screen-md) {
        text-align: left;
      }
    }

    &:last-child {
      @media (min-width: $screen-md) {
        text-align: right;
      }
    }
  }
}
