.body {
  //margin: 0 auto;
  margin: 0;
  padding: 0;
  width: 320px;

  @media (min-width: $screen-md) {
    width: 768px;
  }

  @media (min-width: $screen-xl) {
    width: 1120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}
